/* Grid align */
    .content-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
		gap: 20px;
		grid-auto-rows: max-content;
		grid-template-areas:
			"a b c d e f g";
		/* align-items: center;
		justify-items: center;
		text-align: center; */
	}
/* Grid IDs */
    #chitem1 {
		grid-area: a;
	}
	#chitem2 {
		grid-area: b;
	}
	#chitem3 {
		grid-area: c;
	}
    #chitem4 {
		grid-area: d;
	}
    #chitem5 {
		grid-area: e;
	}
    #chitem6 {
		grid-area: f;
	}
    #masitem7 {
		grid-area: g;
	}
/* Grid align mas buttons */
    .button-wrapper {
        /* height: 210px; */
        margin-top: 25px;
		display: grid;
		grid-template-columns: 100px 100px 100px;
		/* gap: 5px; */
		grid-auto-rows: 95px;
		grid-template-areas:
			"a b c"
            "d e f";
		align-items: start;
		justify-items: center;
		text-align: center;
	}
/* button Grid IDs */
    #ch1PlayBtn {
		grid-area: a;
	}
	#ch2PlayBtn {
		grid-area: b;
	}
	#ch3PlayBtn {
		grid-area: c;
	}
    #ch4PlayBtn {
		grid-area: d;
	}
    #ch5PlayBtn {
		grid-area: e;
	}
    #ch6PlayBtn {
		grid-area: f;
	}
/* main styling */
body {
	background-color:rgb(214, 214, 214);
    /* background-image: url("../img/parchment.png"); */
    background-blend-mode: overlay;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
.pageLnk{
    border: 3px outset grey;
    background-color: gray;
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.pageLnk:hover{
    background-color: lightgray;
}
.pageLnk:active{
    border: 3px inset grey;
}
h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size:48pt; 
    text-align:center; 
    padding-left:50px;
    top:10px;
}
p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
#banner {
    margin-top: -10px;
    margin-left: -8px;
}
.mixCol {
    /* background-image: url("../img/mixcol.png"); */
    object-fit: fill;
    background-color: black;
    /* margin-left: 30px; */
    width: 175px;
    height:550px;
    display: flex;
    justify-self: center;
    /* float: left; */
}
.chName{
    margin-top: 0px;
}
.srcSel{
    width: 175px;
    height: 19px;
    display: block;
    margin-top: 20px;
    position: absolute;
}
.mixCol p{
    width: 175px;
    background-color: white;
    height:19px;
    position: absolute;
}
/* sliders */
input[type='range'][orient='270deg'] { 
    transform: rotate( 270deg ); 
}
.slider{
    appearance: none;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
input[type=range].slider::-webkit-slider-thumb{
    appearance: none;
    opacity: 1;
    width: 8px;
    margin-bottom: 0.5px;
    height: 19px;
    border-radius: 2px;
    background: #979797;
    cursor: pointer;
}
input[type=range].slider:hover::-webkit-slider-thumb{
    background: blue;
    box-shadow: 0 0 1px black;
}
.chVol{
    margin-top: 460px;
    width: 140px;
    height: 10px;
    margin-left:60px;
    position: absolute;
}
#mVol{
    margin-top: 112px;
    margin-left: 300px;
    height: 10px;
    width: 190px;
    position: absolute;
}
[id$="Pan"]{
    margin-top: 360px;
    /* margin-left: 10px; */
    width: 80px;
    height: 10px;
    z-index: +1;
}
.eqSlid{
    height: 10px;
    width: 150px;
}
.eq{
    margin-top: 40px;
    position: absolute;
}
.eqCon{
    margin-top: 55px;
    position:absolute;
}
.eqLbl{
    color: white;
    font-size: 10px;
    margin-top: 38px;
    margin-left: 16px;
    position: absolute;
}
.eqLbl[for="Q"]{
    margin-left: 141px;
}
[id$="Q"].eqSlid{
    margin-left: 70px;
}
.eqCon input{
    margin-top: 120px;
    margin-left: -50px;
    float: left;
    position: absolute;
}
[id^="selFil"]{
    width: 175px;
    margin-top: 5px;
    margin-left: 0px;
    position: absolute;
    border-radius: 0px;
}
[id^="filImg"]{
    margin-top: 5px;
    margin-left: 67px;
    position: absolute;
    width: 40px;
    height: 35px;
}
.freqLbl{
    margin-left: 40px;
}
.qLbl{
    margin-left: 120px;
}
.maxLbl{
    color: white;
    font-size: 10px;
    margin-top: 45px;
    position: absolute;
}
.minLbl{
    color: white;
    font-size: 10px;
    margin-top: 190px;
    position: absolute;
}
.fx{
    margin-top: 280px;
    position: absolute;
}
.fxSel{
    width: 175px;
    height: 19px;
    display: block;
    margin-top: 300px;
    position: absolute;
}
.volBtns{
    font-size: 6px;
    width: 40px;
    height: 20px;
    margin-top: 325px;
    position: absolute;
}
[id$="MuteBtn"]{
    margin-left: 30px;
    background-color: grey;
}
[id$="SoloBtn"]{
    margin-left: 105px;
    background-color: grey;
}
.panLbl{
    margin-left: 88px;
    margin-top: 357px;
    color: white;
    font-size: 10px;
    position: absolute;
}
.masterSec{
    background-color: black;
    width: 500px;
    height: 220px;
    justify-self: center;
    /* margin-left: 70%; */
    display: flex;
    /* position: absolute;
    float: right; */
}
.masterSec .head{
    background-color: white;
    position: absolute;
    width: 500px;
    margin-top: 0;
}
/* .masBtns{
    height: 220px;
} */
.masBtnInd{
    /* margin-top: 25px;
    margin-bottom: 60px; */
    margin-left: 5px;
    margin-right: 5px;
    /* height: 85px; */
    /* width: 90px; */
}
.fxSec{
    background-color: black;
    align-self: flex-end;
    justify-self: center;
    margin-top: 30px;
    /*margin-left: 10px;
    margin-right: 50px; */
    width: 130px;
    height: 250px;
    /* display: flex; */
    /* float: right; */
}
.fxSec p{
    width: 130px;
    background-color: white;
    margin-top: 0px;
    height:19px;
    position: absolute;
}
.fxSelect {
    margin-top: 20px;
    width: 130px;
}
.revLbl{
    margin-top: 8px;
    color: white;
    font-size: 10px;
    position: absolute;
}
[id*="RevSec"] {
    visibility: hidden;
    margin-left: 47px;
}
#rMix {
    margin-top: 60px;
}
[id*="DelSec"] {
    visibility: hidden;
}
.delLbl{
    margin-top: -28px;
    color: white;
    font-size: 10px;
    position: absolute;
}
.minDelLbl{
    margin-top: -10px;
    color: white;
    font-size: 10px;
    position: absolute;
}
.conDelLbl{
    margin-left: 5px;
    margin-top: 25px;
    color: white;
    font-size: 10px;
    position: absolute;
}
.minorDelCon{
    margin-left: 25px;
}
[id$="DmMix"]{
    margin-left: 50px;
    margin-top: -35px;
    position: absolute;
}
[id*="CompSec"] {
    margin-top: -28px;
    visibility: hidden;
}
[id*="CmThres"]{
    margin-left: 50px;
    margin-top: -35px;
    position: absolute;
}
[id$="CmKnee"]{
    margin-left: 28px;
}
[id$="CmRatio"]{
    margin-left: 25px;
}
.compLbl {
    margin-top: -30px;
    margin-left: 1px;
    color: white;
    font-size: 10px;
    position: absolute;
}
.compMin{
    margin-left: 1px;
    color: white;
    font-size: 10px;
    position: absolute;
}
/*Knobs */
.panKnobs {
    margin-left: 115px;
}

header{
    margin-top: 0px;
    padding: 3px;
    position: absolute;
}
[id$="PeakMeter"]{
    height: 190px;
    width: 70px; 
    margin-top:355px;
    position:absolute;
}